<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KNU 재능 공유 플랫폼</title>
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/sidebar.css">
  <link rel="stylesheet" href="/css/content.css">
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>

<!-- 사이드바와 콘텐츠를 포함하는 컨테이너 -->
<div class="main-container" style="display: flex; max-width: 1200px; margin: 0 auto; padding-top: 20px;">
  <!-- 사이드바 삽입 -->
  <div th:insert="~{fragments/sidebar/major_learner_sidebar :: major_learner_sidebar}"></div>

  <!-- 콘텐츠 영역 -->
  <div class="content">
    <h1>메이저러너</h1>
    <hr>
    <h2 class="section-title">프로그램 내용</h2>
    <ul class="content">
      <li>자발적 학습공동체 구성을 통한 공동체 의식함양 및 학습역량강화를 지원하는 공동체형 프로그램</li>
      <li>① 전공학습(부·복수) 공동체 / ② 신입·재입학생공동체 / ③ 전과·편입학생 공동체</li>
    </ul>

    <h2 class="section-title">개요</h2>
    <ul class="content">
      <li>운영기간: 학기별 운영</li>
    </ul>

    <h2 class="section-title">신청 자격</h2>
    <ul class="content">
      <li>
        <strong>지도교수</strong>
        <p>해당 학기 재직 전임교원</p>
      </li>
      <li>
        <strong>팀장</strong>
        <p>직전학기 학점 평균 3.5(B+) 이상의 재학생</p>
      </li>
      <li>
        <strong>팀원</strong>
        <p>해당학기 재학생</p>
      </li>
    </ul>

    <h2 class="section-title">혜택</h2>
    <ul class="content">
      <li>활동장학금 및 우수활동장학금 지급</li>
      <li>비교과 마일리지 지급</li>
      <li>우수 그룹 상장 수여</li>
    </ul>
  </div>
</div>

<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>