<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KNU 재능 공유 플랫폼</title>
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>
<div class="error-container">
    <div class="logo-and-title">
        <img th:src="@{/images/logo.png}" alt="로고" class="logo">
        <h1>KTSP</h1>
    </div>
    <h2>요청에 문제가 발생했습니다.</h2>
    <p>페이지를 표시할 수 없습니다.</p>
    <p>입력한 정보가 올바른지 확인하시고 다시 시도해 주세요.</p>
    <a href="/" class="btn-home">홈으로 돌아가기</a>
</div>
</body>
</html>