<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KNU 재능 공유 플랫폼</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/content.css">
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>

<!-- 사이드바와 콘텐츠를 포함하는 컨테이너 -->
<div class="main-container" style="display: flex; max-width: 1200px; margin: 0 auto; padding-top: 20px;">
    <!-- 사이드바 삽입 -->
    <div th:insert="~{fragments/sidebar/community_sidebar :: community_sidebar}"></div>

    <!-- 콘텐츠 영역 -->
    <div class="content">
        <h1>사이트 소개</h1>
        <hr>
        <!-- 프로젝트 소개 이미지 -->
        <img src="/images/introduction.png" alt="프로젝트 소개 이미지" style="width: 100%; max-width: 950px; display: block; margin: 0 auto;">

        <!-- 소개 글 -->
        <div style="padding-top: 20px; line-height: 1.6; font-size: 18px;">
            <p>저는 러닝코어 및 메이저러너 활동에 참여하고 싶지만, 팀원을 구하기 힘든 경우가 있어서 포기했던 적이 있습니다.</p>
            <p>러닝코어는 학점 3.0 이하의 배우미와 3.75 이상의 가르치미가 팀을 이뤄야 성사가 됩니다. 하지만 주변에 이런 조건을 만족하는 친구들은 생각보다 찾기 쉽지 않죠.</p>
            <p>메이저러너도 마찬가지입니다. 신입·재입학생, 전과·편입학생을 구해서 팀을 꾸리는 조건은 생각보다 까다로운 조건입니다.</p>
            <p>마지막으로 공모전에 참여하고 싶지만, 하나의 프로젝트에는 단일 전공 뿐만 아니라 타 전공 학생들의 재능이 필요합니다.</p>
            <p>예를 들어서, 하나의 제품을 출시할 때 제품 개발 뿐만아니라 마케팅, 디자인 등 다른 전공에 재능을 가진 학생들의 도움이 필요합니다.</p>
            <p>하지만 같은 전공이 아닌 타 전공 학생까지 두루두루 알고 지내는 사람은 흔치 않습니다.</p>
            <p>이러한 불편한 점을 저는 자연스럽게 느꼈고 이러한 불편함을 해소하고자 이 서비스를 만들게 되었습니다.</p>
        </div>
    </div>
</div>

<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>