/* content.css */
.content {
    padding: 20px; /* 내부 여백 설정 */
    flex-grow: 1; /* 남은 공간을 모두 차지 */
    background-color: white; /* 배경색을 흰색으로 설정 */
    box-sizing: border-box; /* 패딩과 테두리를 포함하여 크기 조정 */
    font-family: 'Noto Sans KR', 'Nanum Gothic', 'Apple SD Gothic Neo', sans-serif; /* 기본 고딕 폰트 설정 */
    margin-left: 20px;
}

/* 제목 스타일 */
.content h1 {
    font-size: 28px; /* 큰 제목 크기 */
    margin-bottom: 20px; /* 하단 여백 */
    font-weight: normal; /* 굵기 설정을 일반(normal)로 */
}

.content h2 {
    font-size: 22px; /* 중간 제목 크기 */
    margin-bottom: 15px; /* 하단 여백 */
    font-weight: normal; /* 굵기 설정을 일반(normal)로 */
}

.content h3 {
    font-size: 18px; /* 작은 제목 크기 */
    margin-bottom: 10px; /* 하단 여백 */
    font-weight: normal; /* 굵기 설정을 일반(normal)로 */
}

.section-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    border-left: 5px solid #007bff;
    padding-left: 10px;
    color: #007bff;
}

.content li {
    margin-bottom: 20px;
    list-style-type: disc;
    margin-left: 10px;
}

.content ul {
    list-style-type: disc;
    margin-left: 10px;
}

.content-section{
    white-space: pre-wrap; /* 공백이 연속으로 주어져도 그대로 표현 */
    /*max-height: 500px; !* 최대 높이 설정 *!*/
    /*overflow-y: auto;  !* 스크롤 활성화 *!*/
}

.note {
    font-size: 0.9rem;
    color: #c03939;
    margin-left: 20px;
    display: block;
    margin-top: 5px;
}

hr {
    border: 1px solid #ccc; /* 색상 및 두께 설정 */
    margin: 20px 0; /* 위아래 여백 */
}

/* 모달 스타일 */
.modal {
    display: none; /* 기본적으로 숨김 */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* 배경색 */
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 30px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 8px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

/* 모달 내 입력 필드와 버튼 스타일 */
.modal-content label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.modal-content input {
    width: 100%;
    padding: 12px;
    max-width: 370px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modal-content button {
    padding: 12px 20px;
    background-color: #0059B7;
    color: white;
    border: none;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.modal-content button:hover {
    text-decoration: underline;
}

.error {
    color: red;
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
}

.error-message{
    color: red;
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
}

.message {
    color: #2e7d32;
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
}

.a-file {
    text-decoration: none;
    color: black; /* 링크 기본 색상 */
    margin-top: 5px;
    margin-bottom: 5px; /* 아래쪽 간격 */
    display: inline-block; /* 블록 요소처럼 동작하여 간격 적용 */
}

.a-file:visited {
    color: black; /* 클릭 후에도 동일한 색상 유지 */
}

/* 기본 버튼 스타일 */
button {
    padding: 10px 20px; /* 여백 설정 */
    background-color: #333;
    color: white; /* 텍스트 색상 */
    border: none; /* 테두리 제거 */
    font-size: 16px; /* 기본 글자 크기 */
    cursor: pointer; /* 클릭 커서 표시 */
    margin-left: 10px; /* 왼쪽 간격 추가 */
}

/* 호버 상태 */
button:hover {
    text-decoration: underline;
}

/* 비활성화 상태 */
button:disabled {
    background-color: #ccc; /* 비활성화 배경색 */
    color: #777; /* 텍스트 색상 변경 */
    cursor: not-allowed; /* 클릭 불가 표시 */
}

/*일반 표 css*/
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-left: none; /* 왼쪽 테두리 제거 */
    border-right: none; /* 오른쪽 테두리 제거 */
}

th, td {
    padding: 12px;
    text-align: left;
    border-top: 1px solid #ddd; /* 위쪽 테두리 유지 */
    border-bottom: 1px solid #ddd; /* 아래쪽 테두리 유지 */
}

th {
    background-color: #F8F8F8; /* 기존 스타일 유지 */
    font-weight: bold; /* 기존 스타일 유지 */
    width: 130px; /* 원하는 너비 값으로 설정 */
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
    overflow: hidden; /* 텍스트가 넘칠 경우 숨김 */
    text-align: center; /* 텍스트 가운데 정렬 */
}

td {
    background-color: white;
}

/*게시글 목록 표 css*/
.board-table {
    width: 100%;
    border-collapse: collapse;
}

.board-table th, .board-table td {
    border: 1px solid white;
    padding: 20px 10px; /* 위아래 간격 20px, 좌우 간격 10px */
    text-align: center;
    border-bottom: 1px solid #AAA; /* 테이블의 아래쪽 테두리 */
}

.board-table th {
    background-color: white;
    font-weight: bold;
}

/* 제목 열의 너비를 설정 */
.board-table .title-column {
    width: 40%; /* 제목 열의 너비를 40%로 설정 */
    text-align: center; /* 텍스트를 가운데 정렬 */
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
    overflow: hidden; /* 텍스트가 넘칠 경우 숨김 */
    text-overflow: ellipsis; /* 넘친 텍스트에 '...' 표시 */
}

.no-data {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #666;
}

/* Input 스타일 */
.add-input {
    width: 100%; /* 전체 너비 차지 */
    padding: 10px; /* 내부 여백 */
    font-size: 14px; /* 텍스트 크기 */
    border: 1px solid #ccc; /* 기본 테두리 */
    box-sizing: border-box; /* 패딩 포함 크기 조정 */
    background-color: #f9f9f9; /* 연한 배경색 */
    font-family: 'Noto Sans KR', 'Nanum Gothic', sans-serif; /* 폰트 설정 */
    margin-bottom: 20px;
}

/* Label 스타일 */
.add-label {
    display: block; /* 라벨을 블록 형태로 */
    font-size: 20px; /* 적당한 글자 크기 */
    margin-bottom: 10px; /* 아래 요소와의 간격 */
    color: #333; /* 어두운 회색 텍스트 */
}

/* Textarea 스타일 */
.add-textarea {
    width: 100%; /* 전체 너비 차지 */
    padding: 10px; /* 내부 여백 */
    font-size: 14px; /* 텍스트 크기 */
    border: 1px solid #ccc; /* 기본 테두리 */
    box-sizing: border-box; /* 패딩 포함 크기 조정 */
    resize: vertical; /* 세로 방향으로만 크기 조정 가능 */
    background-color: #f9f9f9; /* 연한 배경색 */
    font-family: 'Noto Sans KR', 'Nanum Gothic', sans-serif; /* 폰트 설정 */
    margin-bottom: 20px;
}

/* Textarea 포커스 상태 */
textarea:focus {
    outline: none; /* 기본 포커스 아웃라인 제거 */
    background-color: #fff; /* 배경색을 흰색으로 변경 */
}

.new-file {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
    text-align: center;
}

#selectedFiles li {
    margin-bottom: 5px; /* 각 파일 이름 간 간격 추가 */
}

.image-gallery div {
    margin: 0; /* 불필요한 여백 제거 */
    padding: 0;
}

.image-gallery img {
    max-width: 100%
}

.board-select {
    color: inherit; /* 링크 색상을 텍스트 색상과 동일하게 유지 */
    text-decoration: none; /* 기본 밑줄 제거 */
}

.board-select:hover {
    text-decoration: underline; /* 마우스를 올렸을 때 밑줄 표시 */
    text-decoration-color: blue; /* 밑줄 색상을 파란색으로 설정 */
}

.button-link {
    display: inline-block; /* 버튼처럼 보이게 설정 */
    padding: 10px 20px; /* 여백 설정 */
    background-color: #333; /* 배경색 설정 */
    color: white; /* 텍스트 색상 */
    border: none; /* 테두리 제거 */
    font-size: 16px; /* 글자 크기 */
    text-align: center; /* 텍스트 가운데 정렬 */
    text-decoration: none; /* 밑줄 제거 */
    cursor: pointer; /* 클릭 커서 표시 */
    margin-left: 10px; /* 왼쪽 간격 추가 */
}

/* 호버 상태 */
.button-link:hover {
    text-decoration: underline; /* 호버 시 밑줄 표시 */
}

.pagination {
    text-align: center;
    margin-top: 20px;
    font-family: Arial, sans-serif;
}

.page-link, .page-current {
    display: inline-block;
    margin: 0 5px;
    padding: 8px 12px;
    text-decoration: none;
    border: 1px solid #ddd;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.page-link:hover {
    text-decoration: underline;
}

.page-current {
    background-color: black;
    color: #fff;
    pointer-events: none;
}

.page-link:disabled, .page-link.disabled {
    background-color: #f8f9fa;
    color: #ddd;
    cursor: not-allowed;
    pointer-events: none;
}

.pagination a:first-child {
    margin-left: 0;
}

.pagination a:last-child {
    margin-right: 0;
}

.pagination span {
    margin: 0 2px;
}