.error-container {
    text-align: center;
    margin: 0 auto;
    padding: 50px;
    max-width: 600px;
    background-color: #f8f9fa;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo-and-title {
    display: flex;
    align-items: center; /* 로고와 텍스트를 세로 가운데 정렬 */
    justify-content: center; /* 가로 가운데 정렬 */
    margin-bottom: 20px; /* 아래 요소와 간격 */
}

.logo-and-title img {
    width: 100px;
    height: auto;
}

.logo-and-title h1 {
    color: blue;
    font-size: 36px;
    margin-left: 15px; /* 로고와 텍스트 간격 */
}

.error-container h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.error-container p {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
}

.btn-home {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
