/* 사이드바 스타일 */
.sidebar {
    width: 200px;
    background-color: white;
    position: sticky;
    overflow-y: auto;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
    border-bottom: 1.5px dotted #ccc; /* 버튼 아래 점선 크기 증가 */
}

.sidebar ul li:last-child {
    border-bottom: 1.5px dotted #ccc; /* 마지막 버튼 아래에도 점선 추가 및 크기 증가 */
}

.sidebar ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    display: block;
    padding: 8px;
    background-color: white;
    transition: background-color 0.3s;
    text-align: center;
    line-height: 36px;
}

/* 선택된 메뉴 스타일 */
.sidebar ul li a.active {
    background-color: #033975; /* 선택된 메뉴 배경색 */
    color: white; /* 선택된 메뉴 텍스트 색상 */
}

.sidebar ul li a:hover {
    text-decoration: underline; /* 호버 시 밑줄 추가 */
}