<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KNU 재능공유 플랫폼</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>

<div class="background">
    <div class="login-container">
        <!-- 로고 -->
        <div class="logo">
            <img src="/images/knu_logo.png" alt="KNU Logo">
        </div>

        <!-- 비밀번호 찾기 박스 -->
        <div class="login-box">
            <h1>비밀번호 찾기</h1>
            <p>사용자 아이디를 입력해주세요.</p>
            <form id="passwordRecoveryForm" action="/login/findpassword" method="post">
                <input type="text" id="studentNumber" name="studentNumber" placeholder="사용자 아이디 (학번)" required>
                <!-- 에러 메시지 -->
                <div th:if="${errorMessage}" class="error"><p th:text="${errorMessage}"></div>

                <!-- 성공 메시지 -->
                <div th:if="${message}" class="message"><p th:text="${message}"></p></div>
                <button type="submit" class="login-btn">비밀번호 찾기</button>
            </form>

            <div class="additional-links">
                <a href="/login">로그인</a>
            </div>
        </div>

        <!-- 안내사항 -->
        <div class="notice">
            <h2>안내사항</h2>
            <ul>
                <li>· 사용자 아이디는 학번을 입력해주세요.</li>
                <li>· 비밀번호 찾기 요청 후 이메일로 임시 비밀번호가 전송됩니다.</li>
            </ul>
        </div>
    </div>
</div>

<script src="/js/login.js"></script>

</body>
</html>