<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KNU 재능 공유 플랫폼</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/home_banner.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <div th:insert="~{fragments/header :: header}"></div>
    <div class="content">
        <!-- 배너 슬라이더 시작 -->
        <div class="banner-slider">
            <img class="banner-slide active-slide" src="/images/banner/banner1.png" alt="banner 1">
            <img class="banner-slide" src="/images/banner/banner2.png" alt="banner 2">
            <img class="banner-slide" src="/images/banner/banner3.png" alt="banner 3">
        </div>
        <!-- 배너 슬라이더 끝 -->
    </div>

    <div th:insert="~{fragments/footer :: footer}"></div>
    <script src="/js/banner_slider.js"></script>
</body>
</html>