<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KNU 재능 공유 플랫폼</title>
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/sidebar.css">
  <link rel="stylesheet" href="/css/content.css">
</head>
<body>
<!-- 헤더 -->
<div th:insert="~{fragments/header :: header}"></div>

<!-- 사이드바와 콘텐츠를 포함하는 컨테이너 -->
<div class="main-container" style="display: flex; max-width: 1200px; margin: 0 auto; padding-top: 20px;">
  <!-- 사이드바 -->
  <div th:switch="${sidebarType}">
    <div th:case="'learningCore'" th:insert="~{fragments/sidebar/learning_core_sidebar :: learning_core_sidebar}"></div>
    <div th:case="'majorLearner'" th:insert="~{fragments/sidebar/major_learner_sidebar :: major_learner_sidebar}"></div>
    <div th:case="'projectContest'" th:insert="~{fragments/sidebar/project_contest_sidebar :: project_contest_sidebar}"></div>
    <div th:case="'community'" th:insert="~{fragments/sidebar/community_sidebar :: community_sidebar}"></div>
  </div>

  <!-- 콘텐츠 영역 -->
  <div class="content" th:object="${boardViewDTO}">
    <p style="text-align: right; font-size: 14px;">작성일 : <span th:text="*{createdAt + ' | 업데이트 날짜 : ' + updatedAt + ' | 조회수 : ' + hits}">작성일</span></p>
    <hr>
    <h1>게시글 상세보기</h1>

    <!-- 에러 메시지 -->
    <div th:if="${errorMessage}" class="error">
      <p th:text="${errorMessage}"></p>
    </div>

    <!-- 정보 테이블 -->
    <table>
      <tr>
        <th>제목</th>
        <td th:text="*{title}">게시물 제목</td>
      </tr>
      <tr>
        <th>작성자</th>
        <td th:text="*{userName}">작성자 이름</td>
      </tr>
      <tr th:if="${(currentMenu != 'notice') and (currentMenu != 'report')}">
        <th th:if="${(currentMenu != 'notice') and (currentMenu != 'report')}">팀원 수</th>
        <td th:text="*{currentSize + '/' + teamSize}"></td>
      </tr>
      <tr>
        <th th:if="${(currentMenu != 'notice') and (currentMenu != 'report')}">모집 여부</th>
        <td th:text="${boardViewDTO.isClosed} ? '모집 마감' : '모집중'" th:if="${(currentMenu != 'notice') and (currentMenu != 'report')}"></td>
      </tr>
    </table>

    <!-- 게시물 내용 -->
    <div class="content-section">
      <p th:utext="*{content}">게시물 내용</p>

      <!-- 첨부된 이미지 표시 -->
      <div class="image-gallery">
        <div th:if="${boardViewDTO.imagePath != null and !boardViewDTO.imagePath.isEmpty()}">
          <div th:each="imagePath : ${boardViewDTO.imagePath}"><img th:src="@{${imagePath}}" alt="첨부된 이미지"></div>
        </div>
      </div>

    </div>

    <table>
      <tr>
        <th>첨부파일</th>
        <td>
          <div th:if="${boardViewDTO.files != null and !boardViewDTO.files.isEmpty()}">
            <div th:each="fileName : ${boardViewDTO.files}"><a class="a-file" th:href="@{/download(fileName=${fileName}, boardId=${boardViewDTO.id})}" th:text="${fileName}"></a></div>
          </div>
          <div th:unless="${boardViewDTO.files != null and !boardViewDTO.files.isEmpty()}">
            첨부파일이 없습니다.
          </div>
        </td>
      </tr>
    </table>

    <hr>
    <!-- 지원자 현황 및 팀관리 버튼 -->
    <a th:if="${boardViewDTO.mine and (currentMenu != 'notice') and (currentMenu != 'report')}"
       th:href="@{/team/manage/{id}(id=${boardViewDTO.id}, sidebarType=${sidebarType}, boardType=${currentMenu})}"
       class="board-select"
       style="float: left; margin-right: 10px; color: blue">[지원자 현황 및 팀관리]</a>

    <form id="deleteForm" th:action="@{/delete/{id}(id=${boardViewDTO.id})}" method="post" style="float: right; margin-left: 10px;">
      <!-- 게시글 타입(히든) -->
      <input type="hidden" name="type" th:value="${boardViewDTO.type}">
      <button type="button" th:if="${boardViewDTO.mine}" onclick="confirmDelete()">삭제</button>

      <a id="back" class="button-link" th:href="@{/{board}(board=${currentMenu})}" style="float: right;">목록</a>

      <a th:if="${boardViewDTO.mine}"
         th:href="@{/update/{id}(id=${boardViewDTO.id}, sidebarType=${sidebarType}, boardType=${currentMenu})}"
         class="button-link"
         style="float: right;">수정
      </a>

      <a th:if="${!isClosed and boardViewDTO.mine and (currentMenu != 'notice') and (currentMenu != 'report')}"
         href="javascript:void(0);"
         onclick="closeBoard()"
         class="button-link"
         style="float: right;">모집 마감
      </a>
    </form>


    <!-- 지원하기 모달 -->
    <div id="joinModal" class="modal" style="display: none;">
      <div class="modal-content">
        <span class="close" id="closeModalBtn">&times;</span>
        <h2>지원하기</h2>
        <label for="content">자신을 소개하는 글을 작성해주세요.</label>
        <textarea id="content" placeholder="소개글을 입력" maxlength="255" rows="5" style="width: 100%;"></textarea>
        <small id="charCount">0/255</small>
        <button id="submit" type="button">확인</button>
        <div id="modalError" class="error-message" style="color: red; display: none;">소개 글을 입력해주세요.</div>
      </div>
    </div>
    <!-- 숨겨진 필드로 boardId 전달 -->
    <input type="hidden" id="boardId" th:value="${boardViewDTO.id}">

    <!-- 지원 버튼 -->
    <button type="button" id="join" th:if="${(boardViewDTO.join)  and currentMenu != 'report' and currentMenu != 'notice'}" style="float: right;">지원</button>

    <br>
    <br>
    <h2 class="section-title">댓글</h2>
    <div th:replace="~{fragments/comment :: commentFragment(comments=${comments}, boardId=${boardViewDTO.id})}"></div>

  </div>
</div>

<!-- 푸터 -->
<div th:insert="~{fragments/footer :: footer}"></div>
<script th:src="@{/js/view.js}" defer></script>
<script th:src="@{/js/comment.js}" defer></script>
</body>
</html>