<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="major_learner_sidebar">
  <aside class="sidebar">
    <ul>
      <li><a href="/major_learner" th:classappend="${currentMenu == 'description'} ? 'active' : ''">메이저러너</a></li>
      <li><a href="#" th:classappend="${currentMenu == 'one'} ? 'active' : ''">전공 학습 공동체</a></li>
      <li><a href="#" th:classappend="${currentMenu == 'two'} ? 'active' : ''">신입·재입학생 공동체</a></li>
      <li><a href="#" th:classappend="${currentMenu == 'three'} ? 'active' : ''">전과·편입학생 공동체</a></li>
    </ul>
  </aside>
</div>
</body>
</html>