<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="mypage_sidebar">
  <aside class="sidebar">
    <ul>
      <li><a href="/mypage" th:classappend="${currentMenu == 'mypage_main'} ? 'active' : ''">내 정보</a></li>
      <li><a href="/mypage/update" th:classappend="${currentMenu == 'one'} ? 'active' : ''">회원 정보 수정</a></li>
      <li><a href="/mypage/myTeam" th:classappend="${currentMenu == 'two'} ? 'active' : ''">나의 팀</a></li>
    </ul>
  </aside>
</div>
</body>
</html>